<div class="row">
  <div class="col-3" *ngFor="let post of posts">
    <div class="card card-container">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <a
          class="btn btn-outline-primary"
          [routerLink]="['/posts/',post.id]"
          role="button"
          >Go to detail with id</a
        >
        <br/>
        <br/>
        <button type="button" class="btn btn-outline-primary" (click)="goToDetail(post.id)">
          Go to detail without id
        </button>
      </div>
    </div>
  </div>
</div>
